body {
    background-color: #cccbcb;
}

#output {
    position: absolute;
    top:0px;
    right:0px;
    width: 50%;
    height: 100%;
    background-color: #8c8c92;
    text-align: center;
}

.CodeMirror {
    position: absolute;
    top:0px;
    left:0px;
}
